@import url("https://fonts.googleapis.com/css?family=Cormorant");
@import url("https://fonts.googleapis.com/css?family=Light+300");

body {
  font-family: "Work Sans";
  background-color: #fbfcee;
  text-align: center;
}

.method {
  width: 350px;
}

.recipe-info {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

select {
  margin-top: 20px;
}
